/*variables guardadas*/
:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --light-highlight: #C7C7C7;
    --text-input-field: #F7F7F7;
    --primary-color: #ACD9B2; /* green hospitaly*/
    --standar-margin: .4rem;
    --card-size-mobile: 140px;
    --card-size: 240px;
}

/*parametros generales*/
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
}
.inactive {
    display: none;
}

/* Area de Nav*/
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-input-field);
    padding: 0 4px;
}
.menu-nav-left--icon {
    height: 30px;
    width: 30px;
    margin: auto 4px;
    display: none;
    cursor: pointer;
}
.logo {
    width: 120px;
    padding: 8px;
    justify-self: center;
}
.nav-right,
.nav-left {
    display: flex;
    margin-top: 10px;
}
.nav-right ul,
.nav-left ul {
    list-style: none;
    color: var(--light-highlight);
    display: flex;
    align-items: center;
    height: 60px;
}

.nav-right ul li a,
.nav-left ul li a {
    text-decoration: none;
    color: var(--light-highlight);
    border: 1px solid white;
    padding: 8px;
    border-radius: 8px;
    margin: auto 4px;
}
.nav-right ul li a:hover,
.nav-left ul li a:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 8px;
} 
.nav-left-cart {
    position: relative;
    margin: auto;
}
.nav-right--cartIcon {
    cursor: pointer;
    margin: 0 8px;
}
.nav-right-list div {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    top: 20px;
    right: 6px;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: black;
    cursor: pointer;
}
.nav-right-email {
    font-size: 14px;
    cursor: pointer;
}

/* Menu desktop*/
.menu-nav-main-container {
    position: absolute;
    background-color: var(--white);
    top: 71px;
    right: 40px;
    height: auto;
    width: 115px;
    border-radius: 4px;
    border-top: none;
    border: 1px solid var(--text-input-field);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    padding: 24px;
}
.list-container {
    list-style: none;
    padding-left: 0;
    text-align: end;
}
.list-container li a {
    text-decoration: none;
    color: var(--black);
    display: inline-block;
}
.list-container li:last-child a {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 12px;
    margin-top: 12px;
}
.list-container li:last-child {
    border-top: 1px solid var(--light-highlight);
}
.list-container li:nth-child(1),
.list-container li:nth-child(2) {
    font-weight: 900;
    margin-bottom: 16px;
}

/* Menu mobile */
.icono {
    position: absolute;
    right: 18px;
    top: 21px;
}
.menu-mobile--main-container {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.menu-mobile--main-container ul {
    list-style: none;
}
.menu-mobile--total-container {
    position: absolute;
    background-color: var(--white);
    top: 70px;
}
.menu-mobile--total-container img {
    cursor: pointer;
}
.list a {
    color: var(--black);
    text-decoration: none;
    font-weight: 900;
}
.list-category {
    margin-top: 20px;
}
.list-category li {
    margin-bottom: 20px;
    margin-left: 20px;
}
.list-category li:first-child{
    margin-bottom: 25px;
}
.list-account {
    border-top: 1px solid var(--text-input-field);
    margin: 0 20px;
    padding-top: 20px;
}
.list-account li {
    margin-bottom: 25px;
}
.sign-out {
    position: absolute;
    bottom: -95px;
    left: 20px;
}
.sign-out li a {
    font-weight: 300;
}
.sign-out li {
    margin-bottom: 4px;
}
.sign-out li:last-child a {
    color: var(--primary-color);
    margin-top: 15px;
    font-weight: 700;
}

/* Aside my order carrito*/
.aside--my-order-cart {
    position: absolute;
    right: 0;
    place-items: center;
    padding: 0 20px;
    background-color: var(--white);
}
.my-order-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 375px;
    height: 50px;
    margin-top: 8px;
}
.title--my-order-cart {
    font-size: 24px;
}

.articles-container--my-order-cart {
    height: 76px;
    min-width: 339px;
    background-color: var(--text-input-field);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 8px;
    padding: 0 18px;
}
.articles-container--my-order-cart div {
    display: flex;
    flex-direction: column;
}
.articles-container--my-order-cart div span:first-child {
    font-weight: 900;
}
.articles-container--my-order-cart div span:last-child {
    font-weight: 300;
}
.cards-container--my-order-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    min-width: 330px;
    height: auto;
}
.img-container--my-order-cart img {
    width: 80px;
    height: 80px;
    border-radius: 18px;
    box-shadow: 1px 1px 6px;
}
.product-info--my-order-cart {
    color: var(--dark);
    font-weight: 300;
    margin-left: -75px;
}


/* Product List */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 20px;
    place-content: center;
    margin-top: 20px;
}

.product-img {
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
}
.product-card  {
    width: var(--card-size);
    height: auto;

}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.product-info p:nth-child(1) {
    font-weight: 900;
    margin: 4px 2px 0;
    font-size: 14px;
}
.product-info p:nth-child(2){
    font-weight: 300;
    font-size: 12px;
    color: var(--dark);
}
.product-info figure img {
    width: 35px;
    margin: 0;
}




/* Media Querys */
@media (max-width: 765px) {
    .menu-nav-left--icon {
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    .nav-left ul {
        display: none;
    }
    .nav-right-email {
        display: none;
    }
    .menu-nav-main-container {
        display: none;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, var(--card-size-mobile));
    }
    .product-card .product-img {
        --card-size: 140px;
    }
    .product-info {
        width: var(--card-size-mobile);
    }
    .product-card {
        width: var(--card-size-mobile);
    }
}

@media (min-width: 766px) {
    .menu-mobile--total-container{
        display: none;
    }
}